<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATest</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/homepage/bootstrap.min.css">
    <link rel="stylesheet" href="../static/homepage/main.css">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="../static/homepage/logo.png" alt="ATest" class="logo">
                </div>
                <div class="col-lg-8">
                    <nav>
                        <ul class="menu">

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>
</body>
</html>