{% extends 'aTest/wrapper.html' %}


{% block content %}
<div class="row">
    <div class="col-lg-9">
        <h1>Как проходить тест?</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Нажимая на название теста в списке, вы автоматически переходите в прохождение
            этого теста.<br> Далее вы должны выбрать один или несколько вариантов ответа и нажать
            на кнопку "Отправить<br> ответ". Это продолжается до тех пор, пока программа не придет
            к выводу, и вам не выведется результат.</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <h1>Связь</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Нашли ошибки?<br>Пишите нам на почту!<br>nadoteamwork@gmail.com</h2>
    </div>
</div>
{% endblock %}
